<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/articles/list">Articles</a></li>
  <li class="breadcrumb-item active">Add</a></li>
</ol>
<h2 class="display-4">Add Article</h2>
<form method="POST" action="/articles/create">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <textarea name="body" class="form-control"></textarea>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>